.heart {
    width: 500px;
    height: 500px;
    background-color: red;
    clip-path: polygon(
        29% 11%,
        50% 29%,
        72% 12%,
        90% 32%,
        90% 55%,
        77% 74%,
        50% 98%,
        23% 71%,
        10% 50%,
        10% 30%,
        30% 12%
    );
}