.Navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;

    background-color: rgb(65, 65, 65);

    margin: 0px;
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}