:root {
  --bg: rgb(27, 27, 37);
}

* {
  padding: 0px;
  margin: 0px;
}

.App {
  min-height: 100vh;
  background-color: var(--bg);
  display: grid;
  grid-template-columns: 300px auto;
}

.route-page {
  /* margin: 10px; */
  /* padding: 10px; */

  background: #2a2a2a;
  /* background: linear-gradient(180deg, rgba(22, 110, 11, 1) 0%, rgba(58, 133, 89, 1) 50%, rgba(98, 150, 0, 1) 100%); */

  /* border-radius: 15px; */

  color: greenyellow;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}